<!DOCTYPE html>

<!--Style sheets-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<!--Custom SCSS-->
<style>
    [v-cloak] {
        display: none;  
    }
</style> <!--Hiding empty data befor loding-->


<!--Main app Body-->
<div id='app'>
    <div class="container">
        <h1 class="text-justify">Crypto Currency Converter</h1>
        <div>
            <h2>Fiat to Fiat</h2>
            <div class="input-group mb-3">
                <div v-cloak class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" v-model="FiatAmount">
            </div>
            <div v-cloak class="input-group mb-3">
                <div class="input-group-prepend">
                <label class="input-group-text" for="currencySelector">Currency</label>
                </div>
                <select class="custom-select" id="currencySelector" v-model="SelectedCurrency">
                <option v-for="(val, key) in FiatRateCurrencies"  >{{ key }}  {{ val }}</option>
                <option v-for="cryptoItem in CryptoCurrency"  >{{ cryptoItem.symbol }} {{ cryptoItem.price }}</option>
                </select>
                <button type="button" class="btn btn-primary" @click="getingEuros(SelectedCurrency, FiatAmount), convertToFiatCurrencies(ToSelectedCurrency, NewCurrencyInEuro)">Convert</button>
            </div>
            </div>
             <!--Select to Currency-->
             <div v-cloak class="input-group mb-3">
                <div class="input-group-prepend">
                <label class="input-group-text" for="ToSelectedCurrency">Convert to</label>
                </div>
                <select class="custom-select" id="ToSelectedCurrency" v-model="ToSelectedCurrency">  <!--Make new array to stor the currency that user whants-->
                <option v-for="(val, key) in FiatRateCurrencies" >{{ key }}  {{ val }}</option>
                <option v-for="cryptoItem in CryptoCurrency"  >{{ cryptoItem.symbol }} {{ cryptoItem.price }}</option>
                </select>
                <input  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="1" v-model="ToCurrencyOutput">  <!--Add new array to hold putput-->    
            </div>
            <div>
            
            <h2>Crypto to Crypto</h2>
            <div class="input-group mb-3">
                <div v-cloak class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" v-model="CrytoAmount">
            </div>
            <div v-cloak class="input-group mb-3">
                <div class="input-group-prepend">
                <label class="input-group-text" for="currencySelector">Currency</label>
                </div>
                <select class="custom-select" id="currencySelector" v-model="SelectedCrypro">
                <option v-for="cryptoItem in CryptoCurrency"  >{{ cryptoItem.symbol.slice(3) }}</option>
                </select>
                <button type="button" class="btn btn-primary" @click="convertToCrypto(SelectedCrypro, CrytoAmount, ToSelectedCryptoCurrency), convertToCryptoAgain(ToSelectedCryptoCurrency, NewCrypro)">Convert</button>
            </div>
            </div>
             <!--Select to Currency-->
             <div v-cloak class="input-group mb-3">
                <div class="input-group-prepend">
                <label class="input-group-text" for="ToSelectedCryptoCurrency">Convert to</label>
                </div>
                <select class="custom-select" id="ToSelectedCryptoCurrency" v-model="ToSelectedCryptoCurrency">  <!--Make new array to stor the currency that user whants-->
                <option v-for="cryptoItem in CryptoCurrency"  >{{ cryptoItem.symbol.slice(0, 3) }}</option>
                </select>
                <input  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="1" v-model="ToCryptoCurrencyOutput">  <!--Add new array to hold putput-->    
            </div>
            <div>

            
            <!--output feeled-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                  <button class="btn btn-outline-secondary" type="button">Button</button>
                  <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>
              </div>

        </div>
    </div>
</div>

<!--Scripts-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> <!--Vue-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            CryptoCurrency: [], 
            FiatAmount: 1, //Defailt amaunt to convert
            FiatRateCurrencies: [], 
            SelectedCurrency: [],
            ToSelectedCurrency: [], //what currency user whants to convert to
            ToCurrencyOutput: [], //used to stor converted value
            NewCurrencyInEuro: [],
            CrytoAmount: 1,
            SelectedCrypro: [],
            ToSelectedCryptoCurrency: [],
            ToCryptoCurrencyOutput: [],
            NewCrypro: [],


        },
        created: function () {     //invoking API calls on creation
            this.fetchCryptoCoin();
            this.fetchFiatCurrencies();
            
        },
        methods: {
            fetchCryptoCoin: function() {
                axios.get('https://api.binance.com/api/v3/ticker/price')
                    .then(function (response) {
                        console.log(response);
                        vm.CryptoCurrency = response.data;  //.slice(0, 10)

                    });
                },
            
            fetchFiatCurrencies: function() {
                axios.get('https://api.exchangeratesapi.io/latest')
                    .then(function (response){
                        console.log(response);
                        vm.FiatCurrencies = response.data; // Fiat data API call
                        vm.FiatRateCurrencies = response.data.rates; //Keys and values of currency

                    });
            },
            
            getingEuros: function(SelectedCurrency, FiatAmount) {  //normalazing user input to Euoro
                console.log(SelectedCurrency);
                var selectedRate = SelectedCurrency.slice(4);
                console.log(selectedRate);  
                this.NewCurrencyInEuro = FiatAmount / selectedRate;
                
            },

            convertToFiatCurrencies: function(ToSelectedCurrency, NewCurrencyInEuro) {
                var toSelectedRate = ToSelectedCurrency.slice(4);
                this.ToCurrencyOutput = toSelectedRate * NewCurrencyInEuro;
            },

            convertToCrypto: function(SelectedCrypro, CrytoAmount, ToSelectedCryptoCurrency){
                console.log(SelectedCrypro, CrytoAmount);
                var selected = SelectedCrypro;
                var toSelect = ToSelectedCryptoCurrency;
                var findigName = SelectedCrypro + ToSelectedCryptoCurrency;
                console.log(findigName);
                var rate = this.CryptoCurrency.key(findigName);
           
                //this.ToCryptoCurrencyOutput = 
                console.log(rate);

                //var selectedCrypto = ToSelectedCryptoCurrency;
                //this.NewCrypro = CrytoAmount / SelectedCrypro;
                
            },

            convertToCryptoAgain: function(ToSelectedCryptoCurrency, NewCrypro) {
                //var toCryptoRate = ToSelectedCryptoCurrency;
                //console.log(toCryptoRate);
                //this.ToCryptoCurrencyOutput = 5;

            }

            
        }


    });
    


</script>
